**Prime number**

In [14]:
num = 31

flag = False

if num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break

if flag:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

31 is a prime number

**Cube**

In [16]:
def cube(num):
    return num * num * num

num = 10
print(f"The cube of {num} is {cube(num)}")

The cube of 10 is 1000

**Factorial**

In [17]:
def factorial(n):
    if n == 0 or n == 1:  # Base case: 0! and 1! are both 1
        return 1
    else:
        return n * factorial(n - 1)  # Recursive call

# Input from user
num = int(input("Enter a number: "))

# Check if the number is negative
if num < 0:
    print("Factorial does not exist for negative numbers.")
else:
    print(f"The factorial of {num} is {factorial(num)}")

Enter a number: 5
The factorial of 5 is 120

**Employee**

In [21]:
def employee(name):
  return(name)

def salary(exp):
  if exp>=5:
    return 3000000
  elif exp>=3:
    return 1000000
  else:
    return 500000
emp=employee("Shyam")
a = salary(15)
print(f"The salary of {emp} is {a} ")

The salary of Shyam is 3000000